@font-face {
  font-family: "sf-pro-display";
  src: url("./sf-pro-display.medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sf-pro-display";
  src: url("./sf-pro-display.semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sf-pro-display";
  src: url("./sf-pro-display.bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
