@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "sf-pro-display";
    font-size: 1.041666666666667vw;
  }
  body {
    @apply bg-black;
  }
  ::-webkit-scrollbar {
    width: 0;
  }
  .moving-element {
    animation: move linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
  }
  @keyframes move {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@layer components {
}
