@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "sf-pro-display";
    font-size: 1.041666666666667vw;
    @apply max-md:text-[20px];
  }

  body {
    @apply bg-black;
  }
  ::-webkit-scrollbar {
    width: 0;
  }
}

@layer components {
  .text-gradient {
    @apply bg-gradient-to-r from-turquoise-100 to-green text-transparent bg-clip-text;
  }
  .moving-element {
    @apply transition-transform translate-y-0 duration-0;
  }

  .box {
    @apply max-md:!translate-y-0;
  }
}
